@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap');
.Event{
    padding:0 35px 0 35px;
    margin-bottom: 90px;
}
.Event h2{
    font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  font-weight: 700;
font-size: 32px;
line-height: 39px;
  margin-bottom:50px;
  margin-top:100px;
}