.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0% 10%;
}

.structure h1 {
  color: rgb(228, 15, 15);
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 50px;
}

table{
  margin: 12px 0;
  border-spacing: 0;
    border-collapse: collapse;
  color: #29166f;
}

table td, table th{
  border: 1px solid #da251c;
    padding: .5rem 1px;
}

td{
  text-align: left;
}