@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap');
.partner {
  padding: 120px 35px 0 35px;
  margin: auto;
  width:90%;
    align-items: center;
}
.partner h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  font-weight: 700;
font-size: 32px;
line-height: 39px;
  margin-bottom:50px;
}
.partner_image{
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom:250px;
}

.partner_image img{
    border-radius: 12px;
}

.partner_image:hover{
    cursor: pointer;
}
@media only screen and (max-width: 758px) {
    .partner_image{
        display:flex;
        flex-direction: column;
        margin: 10px;
    }
    .partner_image img{
        margin-bottom: 20px;
    }
}


