.footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: #022b52;
  width: 100%;
  align-items: center;
}

.upperBlock {
  display: flex;
  width: 75%;
  margin: 48px 0px;
  justify-content: space-between;
  height: 80%;
  align-items: center;
}

.images {
  display: grid;
  width: 50%;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: center;
  grid-gap: 20px;
}

.images h1 {
  display: none;
}

.images > img {
  /* width: 400px; */
  height: 80px;
  /* aspect-ratio: 4.5/1; */
}

.contact {
  width: 40%;
  color: #ffffff;
}

.contact > h1 {
  font-size: 24px;
  letter-spacing: 0.1em;
}

.contact > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.contact > p {
  margin: 12px 0;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.05em;
  font-weight: 300;
}

.contactName {
  margin: 12px 0px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  /* justify-content: space-between; */
}

.contactName a {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  margin-right: 20px;
}

.contactName span {
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.contactName img {
  margin-right: 12px;
}

.email {
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.socailMedia {
  width: 80%;
  margin: 12px 0;
  display: flex;
  /* justify-content: space-between; */
}

.infoMobile{
  display: none;
}

.socailMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */
  border-radius: 50%;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  margin-right: 24px;
}

.socailMedia img {
  width: 32px;
  height: 32px;
}

.socailMedia:hover {
  cursor: pointer;
}

.line {
  border-bottom: 2px solid #fff;
  opacity: 0.2;
  width: 80%;
}

.lowerBody {
  color: #fff;
  margin: 24px 0px;
}

.lowerBody > span {
  color: #efa506;
}

@media only screen and (max-width: 758px) {
  .upperBlock {
    display: flex;
    /* margin: 24px 0; */
    flex-direction: column-reverse;
  }

  .contact {
    width: 110%;
    text-align: center;
  }

  .images h1{
    display: flex;
  }

  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .images > img {
    height: inherit;
    margin: 12px 0;
    /* height: 80px; */
  }

  .infoMobile{
    display: flex;
    color: #fff;
    margin: 24px 0;
  }

  .upperBlock > img {
    height: 70px !important;
    aspect-ratio: 4.5/1;
    margin-bottom: 50px;
  }

  .contact > h1 {
    font-size: 21px !important;
  }

  .contact > a {
    font-size: 14px !important;
  }

  .contact > p {
    font-size: 16px !important;
  }

  .contactName {
    font-size: 16px !important;
  }

  .socailMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    margin-bottom: 24px;
  }

  .info{
    display: none;
  }

  .socailMedia > a {
    width: 40px !important;
    height: 40px !important;
  }

  .images div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .images h1 {
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    line-height: 21px;
    letter-spacing: 0.05em;

    color: #f0f2f6;
  }
}
