@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");

.Jury {
  padding: 0 35px 0 35px;
  margin-bottom: 90px;
  align-items: center;
}

.Jury h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.jury_images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.speaker_box {
  width: 307.92px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-left: 15px;
}
.speaker_content1 {
  padding-top: 10px;
}
.speaker_content1 p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #000000;
}

.speaker_content2 p {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.jury_image {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}

.image_style {
  display: block;
  width: 307.92px;
  aspect-ratio: 1/1;
  /* height: 301.94px; */
  margin: 0 25px 35px 15px;
}

.mobileView{
  display: none;
}

.Jury> p {
  color: #fff;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 758px) {
  .jury_images {
    /* display: flex !important; */
    flex-wrap: wrap;
    display: none !important;
  }
  .mobileView {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .image_style{
    width: 257.5px !important;
  }

  .speaker_box{
    width: 257.5px !important;
  }

  .dots {
    display: flex !important;
    justify-content: center;
    margin-top: 24px;
    align-items: center;
  }

  .dot {
    margin-right: 12px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d9d9d9;
    opacity: 0.25;
  }

  .selectedDot{
    opacity: 1 !important;
  }
}

.dots {
  display: none;
}
