@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
.showcase{
    height: 120vh;
    background:linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.1)), url('../images/bg1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.showcase_cont {
    margin-top:30px;
    text-align: center;
    color: #fff;
    width: 50%;
    height: 50%;
    font-size: 3rem;
}
.showcase_cont h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

@media(max-width: 760px){
    
}