@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");
.showcase {
  height: 85vh;
  /* margin-top: 100px; */
  background: #001d39;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-attachment: fixed;
}

.showcase button {
  background: #01528c;
  border: none;
  margin: 12px 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 19.6075px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.0348045px;
  padding: 16px 40px;
  color: #ffffff;
}

.showcase button:hover{
  cursor: pointer;
}

.showcase_cont {
  /* margin-top: 110px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  width: 20%;
  /* height: 50%; */
}
.showcase_cont h1 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: 900;
  font-size: 48px;
  line-height: 58.51px;
  letter-spacing: 10%;
  margin-bottom: 15px;
}
.showcase_cont p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font: size 16px;
  line-height: 19.5px;
  letter-spacing: 10%;
}
.image {
  display: flex;
  justify-content: flex-end;
  /* width: 50%; */
  /* aspect-ratio: 2/1; */
  /* height: 492.34px; */
  /* background-image: linear-gradient(to right, #001d39, #fff); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  overflow: hidden;
}

.image img {
  width: 100%;
}

@media (max-width: 758px) {
  .showcase {
    height: 75vh !important;
  }
  .showcase_cont h1 {
    font-size: 24px;
    width: 80%;
    line-height: 30px;
    margin-bottom: 16px;
    text-align: center;
  }

  .showcase_cont p {
    width: 80%;
  }

  .showcase_cont {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .image {
    display: flex;
    width: 100% !important;
  }
}
